PORT=4000
NODE_ENV=production
JWT_SECRET=replace_with_a_strong_secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/spacex
PAYSTACK_SECRET_KEY=sk_test_xxx
PAYSTACK_PUBLIC_KEY=pk_test_xxx
PAYSTACK_BASE_URL=https://api.paystack.co
ENCRYPTION_KEY=replace_with_32_byte_secret_key_here
APP_NAME=SpaceX
APP_DOMAIN=
APP_BASE_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5500
MAILGUN_API_KEY=your_actual_mailgun_api_key
MAILGUN_DOMAIN=spacexprofit.com
MAILGUN_FROM_EMAIL=Mailgun <postmaster@spacexprofit.com>
MAILGUN_API_BASE_URL=https://api.mailgun.net
BYPASS_EMAIL_OTP=false
ADMIN_EMAIL=admin@yourdomain.com
